/* 优先级比 */
.special {
    color: aquamarine;
}

.outer {
    border: 5px solid black;
}

.box {
    padding: 10px;
    /* - 左右空格必须有 */
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
}

.rotate-box {
    margin: 100px 50px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
}


/* 处理基本元素样式 */
/* -------------------------------------------------------------------------------------------- */
body {
    font:
        1em/150% Helvetica,
        Arial,
        sans-serif;
    padding: 1em;
    margin: 0 auto;
    max-width: 33em;
}

@media (min-width: 70em) {

    /* 在更大的屏幕或窗口中提高全局的字体大小以提高可读性 */
    body {
        font-size: 130%;
    }
}

h1 {
    font-size: 1.5em;
}

/* 处理在 DOM 中嵌套的特殊元素 */
/* -------------------------------------------------------------------------------------------- */
div+p,
#id:first-line {
    color: hotpink;
    border-radius: 3px;
    border-bottom: 8px dotted purple;
}

div p {
    margin: 0;
    padding: 1em;
}

div p+p {
    padding-top: 0;
}